<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/head') %>
  <body>
    <div class="orange-nav"></div>
    <div class="orange-header"></div>
    <div class="orange-container">
      <div>Module: <%= module %></div>
      <div>Version: <%= version %></div>
    </div>
  </body>
</html>
